body{
    background-color: rgb(5, 10, 48);
    color: rgb(202, 232, 255);
    margin: 0; 
    padding: 0;
}
h1, h2, h3{
    text-align: center;
}
/*.web-dev-logo{
    width:30px;
    position: relative;
}*/
nav{
    background-color: #364bea;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    color: rgb(202, 232, 255);
    /*padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;*/
    border-right: 1px solid #bbb;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
    text-align: center;
  }
li a:hover{
    background-color: rgb(35, 61, 255);
}