@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
}

hr{
    color: rgb(202, 232, 255);  
}
.main{
    margin-left: 125px;
    margin-right: 125px;
}
body{
    background-color: rgb(5, 10, 48);
    color: rgb(202, 232, 255);
    margin: 0; 
    padding: 0;
    font-family: 'Source Code Pro';
}
nav{
    background-color: #364bea;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: left;
    color: rgb(202, 232, 255);
    /*padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;*/
    border-right: 1px solid #bbb;
}
.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
    text-align: center;
  }
li a:hover{
    background-color: rgb(35, 61, 255);
}
.bio{
    text-align: left;
    width: 50%;
    text-indent: 25px;
}
.bio p{
    padding-left: 10px;
    padding-right: 10px;
    
    margin-right: 25%;
    border: 1px solid  rgb(202, 232, 255);

}
.bio img{
    width: 150px;
    float: right;
    border: 1px solid  rgb(202, 232, 255);
    vertical-align: middle;
}
.bio h2{
    margin-right: 50%;
}
.skills li{
    padding-bottom: 20px;
    border: 1px solid  rgb(202, 232, 255);
}
.contact{
    border-top: 1px solid  rgb(202, 232, 255);
}
.contact p{
    text-align: center;
}
.contact li a {
    margin-left: 47%;
    display: block;
    width: 75px;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
    text-align: center;
  }
  .projects h3{
      text-align: left;
  }